<div id="experience" class="section">
  <h2>Experience</h2>
  <ol class="vcalendar">
    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Pillar Technology</h3>
        <h4 class="title">Java/Front End Developer, Dayton, OH</h4>
        <span class="date"><abbr class="dtstart" title="2010-01-26">January 2010</abbr> - <abbr title="<%= Date.today %>">present</abbr></span>
      </div>
      <p>At Pillar I had the opportunity to work on a small team developing high value, customer facing web interfaces for one of our client's current paper based systems.</p>
      <ul>
        <li>Analyzed, designed and executed solutions for the heavily data driven user interface</li>
        <li>Implemented several enhancements using both YUI and jQuery with great response from our customers</li>
        <li>Advised our client and our internal development teams on the latest techniques and tools in standards based web development</li>
      </ul>
    </li>
    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Toobla</h3>
        <h4 class="title">Ruby on Rails/Front End Developer, Columbus, OH</h4>
        <span class="date"><abbr class="dtstart" title="2009-07-01">July 2009</abbr> - <abbr class="dtend" title="2010-01-25">January 2010</abbr></span>
      </div>

      <p>
        Toobla was an early stage social media startup, developing an application for collecting, sharing and discovering web content in a visual way.
      </p>
      <ul>
        <li>Focused on improving and building Toobla's UI making heavy use of haml, <acronym title="Extensible Hypertext Markup Language">XHTML</acronym>, <acronym title="Cascading Style Sheets">CSS</acronym>, and copious amounts of unobtrusive jQuery</li>
        <li>Added Facebook integration to the login process using Facebook Connect, as well as using the Facebook API to post Toobla site events to Facebook</li>
        <li>Actively employed TDD to guide development of controllers and models using RSpec and Cucumber</li>
      </ul>
      <p>Toobla also afforded me the opportunity to use and occassionally contribute to the open source community on Github.</p>
    </li>

    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Cardinal Solutions Group</h3>
        <h4 class="title">Staff Consultant, Columbus, OH</h4>
        <span class="date"><abbr class="dtstart" title="2007-06-25">June 2007</abbr> - <abbr class="dtend" title="2009-06-31">June 2009</abbr></span>
      </div>

      <p>As a Staff Consultant I was responsible for implementation of Java Web solutions for
      Cardinal's clients. I've worked with Cardinal's clients to develop:</p>
      <ul>
        <li>Robust <acronym title="Model View Controller">MVC</acronym> applications using Struts, Spring and Hibernate</li>
        <li><acronym title="Rich Internet Application">RIA</acronym>s using standards compliant <acronym title="Extensible Hypertext Markup Language">XHTML</acronym>/<acronym title="Cascading Style Sheets">CSS</acronym> and unobtrusive Javascript</li>

        <li>Agile capabilities including pair programming, test-driven development and lean software development</li>
        <li>Code review sessions focused on middle and front tier development work</li>
      </ul>
      <p>I've also helped Cardinal create sales and training material around Struts and Agile concepts like <acronym title="Test Driven Development">TDD</acronym>.</p>
    </li>

    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Center for Entrepreneurship</h3>
        <h4 class="title">Web Development Intern, Columbus, OH</h4>
        <span class="date"><abbr class="dtstart" title="2005-10-01">October 2005</abbr> - <abbr class="dtend" title="2007-06-01">June 2007</abbr></span>
      </div>

      <p>The Center for Entrepreneurship is a department of the Fisher College of Business at The Ohio State University. As an intern at the Center I worked directly with the Center's Director to develop their online presence. This included cleaning and reformatting hundreds of pages of content using clean semantic markup. I also lead an effort to develop a new system to help the Center administrate the Annual Fisher Business Plan Competition.</p>
    </li>
  </ol>
</div>
<!-- // #experience -->