<div id="honors-and-certs" class="section">
  <h2>Honors, Recognitions <span class="amp">&amp;</span> Certifications</h2>

  <ul>
    <li>ScrumMaster <span class="date">July 2008</span></li>
    <li>Sun Certified Java Programmer (<acronym>SCJP</acronym>) <span class="date">April 2008</span></li>
    <li>Ohio State University College of Engineering Dean's List</li>
    <li>Awarded <acronym title="Boy Scouts of America">BSA</acronym> Eagle Scout Mentoring Award <span class="date">June 2005</span></li>

    <li>Awarded <acronym title="Boy Scouts of America">BSA</acronym> Eagle Scout Award <span class="date">December 2000</span></li>
  </ul>
</div>