<div id="overview" class="section summary">
  <h2>Overview</h2>
  <p>I'm a web developer, who loves crafting beautiful, highly interactive websites. I'm focused on using the latest software development tools, process, and techniques. And lastly, I want to work with and learn from the most talented craftsmen in our industry to change the way people use the web.</p>
</div>