<a href="#mike_busch" class="include contact" title="Mike Busch"></a>
<div id="overview" class="section summary">
  <h2>Overview</h2>
  <p>I'm a web developer, who loves crafting beautiful, highly interactive websites. I'm focused on using the latest software development tools (Ruby on Rails), process (Scrum and Kanban), and techniques (Test Driven Development, Continuous Integration, etc). And I want to work with and learn from the best talent in our industry, be it professionally or in the open source community.</p>
</div>

<div id="experience" class="section">
  <h2>Experience</h2>
  <ol class="vcalendar">
    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Pillar Technology</h3>
        <h4 class="title">Java/Front End Developer, Dayton, OH</h4>
        <span class="date"><abbr class="dtstart" title="2010-01-26">January 2010</abbr> - <abbr title="<%= Date.today %>">present</abbr></span>
      </div>
      <p></p>
    </li>
    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Toobla</h3>
        <h4 class="title">Ruby on Rails/Front End Developer, Columbus, OH</h4>
        <span class="date"><abbr class="dtstart" title="2009-07-01">July 2009</abbr> - <abbr class="dtend" title="2010-01-25">January 2010</abbr></span>
      </div>

      <p>
        Toobla is an early stage social media startup, developing an application for collecting, sharing and discovering web content in a visual way.
      </p>
      <p>Toobla was my first professional exposure to Ruby and Ruby on Rails, as well as <acronym title="Test Driven Development">TDD</acronym> with RSpec and Cucumber. My primary focus at Toobla was building out the UI layer of the application; including heavy use of haml, <acronym title="Extensible Hypertext Markup Language">XHTML</acronym>, <acronym title="Cascading Style Sheets">CSS</acronym> (no sass :( ), and copious amounts of unobtrusive jquery.</p>
      <p>Toobla also afforded us the opportunity to use and occassionally contribute to the vibrant open source community on github.</p>
    </li>

    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Cardinal Solutions Group</h3>
        <h4 class="title">Staff Consultant, Columbus, OH</h4>
        <span class="date"><abbr class="dtstart" title="2007-06-25">June 2007</abbr> - <abbr class="dtend" title="2009-06-31">June 2009</abbr></span>
      </div>

      <p>Cardinal Solutions Group is a leading Enterprise Solutions Consultancy in Ohio and North Carolina.
      As a Staff Consultant I was responsible for implementation of Java Web solutions for
      Cardinal's clients.</p>
      <p>Over the past 2 years I've worked with Cardinal's clients to develop:</p>
      <ul>
        <li>Robust <acronym title="Model View Controller">MVC</acronym> applications using Struts, Spring and Hibernate</li>
        <li><acronym title="Rich Internet Application">RIA</acronym>s using standards compliant <acronym title="Extensible Hypertext Markup Language">XHTML</acronym>/<acronym title="Cascading Style Sheets">CSS</acronym> and unobtrusive Javascript</li>

        <li>Agile capabilities including pair programming, test-driven development and lean software development</li>
        <li>Code review sessions focused on middle and front tier development work</li>
      </ul>
      <p>I've also helped Cardinal create sales and training material around Struts and Agile concepts like <acronym title="Test Driven Development">TDD</acronym>.</p>
    </li>

    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Center for Entrepreneurship</h3>
        <h4 class="title">Web Development Intern, Columbus, OH</h4>
        <span class="date"><abbr class="dtstart" title="2005-10-01">October 2005</abbr> - <abbr class="dtend" title="2007-06-01">June 2007</abbr></span>
      </div>

      <p>The Center for Entrepreneurship is a department of the Fisher College of Business at The Ohio State University. As an intern at the Center I worked directly with the Center's Director to develop a new online presence. This included cleansing hundreds of pages of content and formatting it using clean semantic markup. I also lead an effort to develop a new system to help the Center administrate the Annual Fisher Business Plan Competition.</p>
    </li>
  </ol>
</div>
<!-- // #experience -->

<div id="education" class="section">
  <h2>Education</h2>

  <h3>The Ohio State University</h3>
  <h4>B.S. in Computer Science <span class="amp">&amp;</span> Engineering, Business Minor</h4>
  <span class="date"><abbr class="dtstart dtend" title="2009-07-01">June 2007</abbr></span>
  <p>Major Coursework: Numerical Methods, Principles of Programming Languages, Computer Algorithms, Automata and Formal Languages, Operating Systems, Database Design/Implementation, Systems Analysis, Object Oriented Design, Web Services Capstone, Information Systems Capstone</p>
  <p>Minor Coursework: Operational Management, Accounting, Finance, Marketing, and Human Resources</p>
</div>

<div id="skills" class="section">
  <h2>Skills</h2>
  <h3>Languages, Libraries <span class="amp">&amp;</span> Frameworks</h3>
  <dl>
    <dt>Advanced</dt>
    <dd><acronym title="Asynchronous Javascript + XML">AJAX</acronym>, <acronym title="Cascading Style Sheets">CSS</acronym>, Java, JavaScript, jQuery, <acronym title="JavaServer Pages">JSP</acronym>, Prototype, Ruby/<abbr title="Ruby on Rails">Rails</abbr>, Struts, <acronym title="Structured Query Language">SQL</acronym>, <acronym title="Hypertext Markup Language">HTML</acronym>/<acronym title="Extensible Hypertext Markup Language">XHTML</acronym></dd>

    <dt>Intermediate</dt>
    <dd>C/C++/C#, <acronym title="Hypertext Preprocessor">PHP</acronym>, Spring, <acronym title="Universal Markup Language">UML</acronym>, <acronym title="Extensible Markup Language">XML</acronym>/<acronym title="Extensible Stylesheet Language">XSL</acronym>, <acronym title="Extensible Path Language">XPATH</acronym></dd>

    <dt>Functional</dt>
    <dd><abbr title="All Products under Microsoft's .NET Framework Umbrella">*.NET</abbr></dd>
  </dl>

  <h3>My Dev Enviroment</h3>
  <ul>
    <li>MacBook Pro (OS X 10.5)</li>
    <li>Terminal (bash)</li>
    <li>TextMate (vim if I'm forced)</li>
    <li>Firefox (plus Firebug)</li>
    <li>Git</li>
  </ul>

  <h3>Techniques</h3>
  <dl>
    <dt>Agile</dt>
    <dd>Scrum, Kanban, <acronym title="eXtreme Programming">XP</acronym>, Pair Programming, <acronym title="Test Driven Development">TDD</acronym>, <acronym title="Behavior Driven Development">BDD</acronym>, Continuous Integration</dd>

  </dl>
</div>

<div id="extras" class="section">
  <h2>Associations</h2>
  <ul>
    <li class="affiliation vcard"><span class="fn org">Central Ohio Java User Group (<acronym>COJUG</acronym>)</span> <span class="date">January 2008</span></li>
    <li class="affiliation vcard"><span class="fn org">Columbus Ruby Brigade (<acronym>CRB</acronym>)</span> <span class="date">January 2008</span></li>
    <li class="affiliation vcard"><span class="fn org">Central Ohio .NET User Group (<acronym>CODNG</acronym>)</span> <span class="date">November 2008</span></li>
    <li class="affiliation vcard"><span class="fn org">Columbus Javascript User Group (<acronym>cbusjs</acronym>)</span> <span class="date">March 2009</span></li>
  </ul>
</div>

<div id="honors-and-certs" class="section">
  <h2>Honors, Recognitions <span class="amp">&amp;</span> Certifications</h2>

  <ul>
    <li>ScrumMaster <span class="date">July 2008</span></li>
    <li>Sun Certified Java Programmer (<acronym>SCJP</acronym>) <span class="date">April 2008</span></li>
    <li>Ohio State University College of Engineering Dean's List</li>
    <li>Awarded <acronym title="Boy Scouts of America">BSA</acronym> Eagle Scout Mentoring Award <span class="date">June 2005</span></li>

    <li>Awarded <acronym title="Boy Scouts of America">BSA</acronym> Eagle Scout Award <span class="date">December 2001</span></li>
  </ul>
</div>