{% capture present %}{{ site.time | date: "%Y-%m-%d" }}{% endcapture %}

<div id="experience" class="section">
  <h2>Experience</h2>
  <ol class="vcalendar">
    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Dev Bootcamp</h3>
        <h4 class="title">Cultivator of Curiosity</h4>
        <span class="date"><abbr class="dtstart" title="2013-03-28">March 2013</abbr> - <abbr class="dtend" title="2016-07-15">July 2016</abbr></span>
      </div>
      <p>DevBootcamp is a for-profit education company, focused on helping people launch their career as web developers. At DevBootcamp I do a variety of things, primarily I am an instructor.</p>
      <ul>
        <li>I manage a class of 10-24 beginner developers. I deliver daily lectures and offer hands-on assistance to students working on lab challenges. On a weekly basis, I conduct assessments of students progress and provide them with feedback to help keep them on their ideal learning edge.</li>
        <li>I participate in the creation and modification of the DBc curriculum, which includes material on basic Ruby, SQL, Sinatra, HTML, CSS, Javascript, jQuery, Rails, and a variety of other supporting technologies. The curriculum includes both lectures and challenges that teach DBc students the skills they need to become web developers.</li>
        <li>I also facilitate Engineering Empathy lectures on Feedback, Super Ego, and Dropping The Water Line. These lectures are a core piece of developing well rounded developers.</li>
      </ul>

      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h4 class="title">Director of Education</h4>
        <span class="date"><abbr class="dtstart" title="2014-02-25">March 2014</abbr> - <abbr title="2014-08-31">August 2014</abbr></span>
      </div>
      <ul>
        <li>I managed a part-time team of teachers to develop and maintain the curriculum used in the core program at DevBootcamp.</li>
        <li>My focus was on enhancing collaboration between the 3 offices (New York, San Francisco, and Chicago). At the time I left this role we were routinely conducting cross-location meetings that helped teachers share experiences and creating a culture of learning.</li>
        <li>I participated in acquisitions talks with DevBootcamp's parent company, Kaplan. I represented both roles as a Teacher and the Director of Education in these talks.</li>
      </ul>
    </li>
    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Groupon</h3>
        <h4 class="title">Software Engineer</h4>
        <span class="date"><abbr class="dtstart" title="2011-01-09">January 2011</abbr> - <abbr class="dtend" title="2013-03-15">March 2013</abbr></span>
      </div>
      <p>In the 2 years I worked at Groupon I played a variety of roles, working in teams ranging in size from 1 to 15 developers.</p>
      <p><strong>Groupon Now!</strong> – Groupon's real-time, location based, mobile consumer application. This application changed the way that Groupon viewed the purchase process, as well as revolutionizing the merchant side of our sales operation.</p>
      <ul>
        <li>I was a founding member of the Groupon Now! team (at one point swelling to 16 members), and worked primarily on the front-end team.</li>
        <li>I was responsible for delivering front end solutions for the consumer website, as well as the merchant facing website.</li>
        <li>I was also lead and effort to design, develop, and deploy Groupon's first discounting system. This system allowed Groupon's Marketing team to target and control incentives to boost customer engagement. This system was responsible for a sizeable lift in sales and customer engagement; earning Groupon more money, while reducing customer service and marketing related to running targeted marketing campaigns.</li>
      </ul>

      <p><strong>Groupon Goods</strong> – Groupon's retail product application. This product represented a shift in focus from local customer experiences with small businesses, to a more holistic consumer experience.</p>
      <ul>
        <li>I was a founding member of the team that carved Goods into it's own specific set of features, after it was launched as an experiment on the main Groupon system.</li>
        <li>I was the primary developer and technical lead, who delivered the shipping collection system for Goods. This project closed a major hole in the overall business; stopping the product from losing roughly 60% of customers who originally bought the Goods deals, but never redeemed them. This translates into more than $100M per quarter in eliminated breakage.</li>
      </ul>

      <p><strong>Quantum Lead</strong> – This product revolutionized the way that Groupon manages their sales staff. It is a first of its kind Sales Pipeline Optimization Engine, which contributed to an 8% lift in overall deal quality and translates directly to Groupon's bottom line as increased revenue.</p>
      <ul>
        <li>I founded this team, with 2 other technical leads. I eventually became the single tech lead for the team of 10.</li>
        <li>The system was built of composable parts, leveraging both JRuby and  Clojure for various components. The system design emerged from the sheer number of external dependencies and necessary reliability constraints our system had on those dependencies. The design allowed us to treat external dependencies as local, and served to remove bottlenecks that otherwise would have made a process like this impossible.</li>
        <li>As technical lead, I was also responsible for participating in the interview process for new developers joining the Sales Tools teams. In this role, I interviewed ~20 developers for various roles ranging from Director to Junior Developer.</li>
      </ul>
    </li>
    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Obtiva</h3>
        <h4 class="title">Software Engineer</h4>
        <span class="date"><abbr class="dtstart" title="2010-09-29">September 2010</abbr> - <abbr class="dtend" title="2011-09-06">August 2011</abbr></span>
      </div>
      <p>At Obtiva, I had the opportunity to work on a variety of studio projects, with clients ranging from early stage startups to established marketing companies. I worked in small teams (pairs), to deliver software every two weeks to these clients that included new websites, payment collection systems, and various line-of-business features for existing websites.</p>
      <p>I also joined Groupon as a staff consultant through Obtiva. This experience is outlined above.</p>
    </li>
    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Pillar Technology</h3>
        <h4 class="title">Java/Front End Developer, Dayton, OH</h4>
        <span class="date"><abbr class="dtstart" title="2010-01-26">January 2010</abbr> - <abbr class="dtend" title="2010-09-11">August 2010</abbr></span>
      </div>
      <p>At Pillar I had the opportunity to work on a small team developing high value, customer facing web interfaces for one of our client's current paper based systems.</p>
      <ul>
        <li>Analyzed, designed and executed solutions for the heavily data driven user interface</li>
        <li>Implemented several enhancements using both YUI and jQuery with great response from our customers</li>
        <li>Advised our client and our internal development teams on the latest techniques and tools in standards based web development</li>
      </ul>
    </li>
    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Toobla</h3>
        <h4 class="title">Ruby on Rails/Front End Developer, Columbus, OH</h4>
        <span class="date"><abbr class="dtstart" title="2009-07-01">July 2009</abbr> - <abbr class="dtend" title="2010-01-25">January 2010</abbr></span>
      </div>

      <p>
        Toobla was an early stage social media startup, developing an application for collecting, sharing and discovering web content in a visual way.
      </p>
      <ul>
        <li>Focused on improving and building Toobla's UI making heavy use of haml, <acronym title="Extensible Hypertext Markup Language">XHTML</acronym>, <acronym title="Cascading Style Sheets">CSS</acronym>, and copious amounts of unobtrusive jQuery</li>
        <li>Added Facebook integration to the login process using Facebook Connect, as well as using the Facebook API to post Toobla site events to Facebook</li>
        <li>Actively employed TDD to guide development of controllers and models using RSpec and Cucumber</li>
      </ul>
      <p>Toobla also afforded me the opportunity to use and occassionally contribute to the open source community on Github.</p>
    </li>

    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Cardinal Solutions Group</h3>
        <h4 class="title">Staff Consultant, Columbus, OH</h4>
        <span class="date"><abbr class="dtstart" title="2007-06-25">June 2007</abbr> - <abbr class="dtend" title="2009-06-31">June 2009</abbr></span>
      </div>

      <p>As a Staff Consultant I was responsible for implementation of Java Web solutions for
      Cardinal's clients. I've worked with Cardinal's clients to develop:</p>
      <ul>
        <li>Robust <acronym title="Model View Controller">MVC</acronym> applications using Struts, Spring and Hibernate</li>
        <li><acronym title="Rich Internet Application">RIA</acronym>s using standards compliant <acronym title="Extensible Hypertext Markup Language">XHTML</acronym>/<acronym title="Cascading Style Sheets">CSS</acronym> and unobtrusive Javascript</li>

        <li>Agile capabilities including pair programming, test-driven development and lean software development</li>
        <li>Code review sessions focused on middle and front tier development work</li>
      </ul>
      <p>I've also helped Cardinal create sales and training material around Struts and Agile concepts like <acronym title="Test Driven Development">TDD</acronym>.</p>
    </li>

    <li class="vevent experience">
      <div class="vcard">
        <a href="mike_busch" class="include" title="Mike Busch"></a>
        <h3 class="org">Center for Entrepreneurship</h3>
        <h4 class="title">Web Development Intern, Columbus, OH</h4>
        <span class="date"><abbr class="dtstart" title="2005-10-01">October 2005</abbr> - <abbr class="dtend" title="2007-06-01">June 2007</abbr></span>
      </div>

      <p>The Center for Entrepreneurship is a department of the Fisher College of Business at The Ohio State University. As an intern at the Center I worked directly with the Center's Director to develop their online presence. This included cleaning and reformatting hundreds of pages of content using clean semantic markup. I also lead an effort to develop a new system to help the Center administrate the Annual Fisher Business Plan Competition.</p>
    </li>
  </ol>
</div>
<!-- // #experience -->
