<div id="skills" class="section">
  <h2>Skills <!-- Buzzword Bingo --></h2>
  <h3>Languages <span class="amp">&amp;</span> Frameworks</h3>
  <dl>
    <dt>Advanced</dt>
    <dd><acronym title="Asynchronous Javascript + XML">AJAX</acronym>, <acronym title="Cascading Style Sheets">CSS</acronym>, Java, JavaScript, jQuery, <acronym title="JavaServer Pages">JSP</acronym>, Prototype, Ruby/<abbr title="Ruby on Rails">Rails</abbr>, Sinatra, Struts 1/2, <acronym title="Structured Query Language">SQL</acronym>, <acronym title="Hypertext Markup Language">HTML</acronym>/<acronym title="Extensible Hypertext Markup Language">XHTML</acronym></dd>

    <dt>Intermediate</dt>
    <dd>C/C++, <acronym title="Hypertext Preprocessor">PHP</acronym>, Wordpress</dd>
  </dl>

  <h3>Techniques</h3>
  <dl>
    <dt>Agile</dt>
    <dd>Scrum, Kanban, <acronym title="eXtreme Programming">XP</acronym>, Pair Programming, <acronym title="Test Driven Development">TDD</acronym>, <acronym title="Behavior Driven Development">BDD</acronym>, Continuous Integration</dd>

  </dl>

  <h3>Development Environment</h3>
  <ul>
    <li>&#63743; Mac OS X</li>
    <li><a href="http://github.com/mikelikesbikes/dotfiles/">bash</a></li>
    <li>vim</li>
    <li>Chrome</li>
    <li>Git/<a href="http://github.com/mikelikesbikes/">Github</a></li>
  </ul>
</div>
